button {
    font-family: "Poppins-SemiBold";
    padding: 0.4em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid #333333;
    color: #333333;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.Button1 {
    background: #299efd;
}

.Button2 {
    background: transparent;
}
