button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DM Sans";
    border-radius: 4px;
    border: none;
    padding: 6px 12px;
    background: #299efd;
    font-size: 17px;
    font-weight: 500;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid transparent;
    font-family: "Poppins-Regular";
}

.Button1:hover {
    background: #59b4ff;
}

.Button2 {
    background: transparent;
    border: 2px solid #299efd;
    color: #333;
}

.Button2:hover {
    background: #299efd4d;
}

.Button3 {
    color: #299efd;
    background: transparent;
    border: 2px solid transparent;
}

.Button3:hover {
    border: 2px solid #299efd;;
}
