.Container {
    min-width: 300px;
    width: max-content;
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 16px;
    background: #FFFFFF;
}

.Container h1 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.Container > div {
    margin-top: 10px;
}

.Container > button {
    margin-top: 30px;
}