.Main {
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: 
    radial-gradient(
      75% 75% at 77% 29%,
      #00EFFFFF 0%,
      #073AFF00 61%),
    radial-gradient(
      75% 75% at 115% 45%, 
      #92E854B8 0%, 
      #073AFF00 69%),
    radial-gradient(
      75% 136% at 111% 6%, 
      #A8E8FEFF 10%, 
      #073AFF00 100%),
    radial-gradient(
      75% 75% at 82% 16%, 
      #00A6FFFF 10%, 
      #073AFF00 62%),
    radial-gradient(
      75% 75% at 95% 58%, 
      #00ADFFFF 0%, 
      #073AFF00 68%);
  width: 100%;
  height: 100vh;
  margin-top: -16px;
  z-index: 1007;
}
