.Main {
  background-size: 100% 100%;
  background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
  background-image: 
    radial-gradient(
      75% 75% at 77% 29%,
      #00EFFFFF 0%,
      #073AFF00 61%),
    radial-gradient(
      75% 75% at 115% 45%, 
      #92E854B8 0%, 
      #073AFF00 69%),
    radial-gradient(
      75% 136% at 111% 6%, 
      #A8E8FEFF 10%, 
      #073AFF00 100%),
    radial-gradient(
      75% 75% at 82% 16%, 
      #00A6FFFF 10%, 
      #073AFF00 62%),
    radial-gradient(
      75% 75% at 95% 58%, 
      #00ADFFFF 0%, 
      #073AFF00 68%);
  width: 100%;
  min-height: calc(100vh + 34px);
  margin-top: -34px;
  z-index: 1007;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Hero h1 {
  font-family: "Poppins-SemiBold";
  color: #333;
  line-height: 30px;
}

.HeroButtons {
  display: flex;
}


.MainLink {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 18px;
  background-color: inherit;
  border-radius: 100px;
  font-weight: 600;
  color: #00ADFF;
  box-shadow: 0 0 0 2px #00ADFF;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.MainLink svg {
  position: absolute;
  width: 24px;
  fill: #00ADFF;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.MainLink .arr_1 {
  right: 16px;
}

.MainLink .arr_2 {
  left: -25%;
}

.MainLink .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #00ADFF;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.MainLink .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.MainLink:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212121;
  border-radius: 12px;
}

.MainLink:hover .arr_1 {
  right: -25%;
}

.MainLink:hover .arr_2 {
  left: 16px;
}

.MainLink:hover .text {
  transform: translateX(12px);
}

.MainLink:hover svg {
  fill: #212121;
}

.MainLink:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #00ADFF;
}

.MainLink:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}


.SecondaryLink {
  padding: 14px;
  font-size: 18px;
  color: #494949;
  transition: .25s ease;
}

.SecondaryLink:hover {
  color: #00ADFF !important;
}